<!-- <div class="forecast_container">
  <div class="forecast_boxes" fxLayout="row" fxLayoutGap="20px">
    <div
      class="forecast_info box1"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
    >
      <p>SATURDAY</p>
      <div class="background_box">
        <div>
          <img src="../../../assets/forecast_sun.svg" />
        </div>
        <div class="forecast_data" fxLayout="column">
          <div class="forecast_divider"></div>
          <p>21°C/<span>18°C</span></p>
          <p>12 August</p>
        </div>
      </div>
    </div>

    <div
      class="forecast_info box2"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
    >
      <p>SUNDAY</p>
      <div class="background_box">
        <div>
          <img src="../../../assets/forecast_sligt_rain.svg" />
        </div>
        <div>
          <div class="forecast_divider"></div>
          <p>23°C/<span>20°C</span></p>
          <p>13 August</p>
        </div>
      </div>
    </div>

    <div
      class="forecast_info box3"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
    >
      <p>MONDAY</p>
      <div class="background_box">
        <div>
          <img src="../../../assets/forecast_sligt_rain.svg" />
        </div>
        <div>
          <div class="forecast_divider"></div>
          <p>21°C/<span>19°C</span></p>
          <p>14 August</p>
        </div>
      </div>
    </div>

    <div
      class="forecast_info box4"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
    >
      <p>TUESDAY</p>
      <div class="background_box">
        <div>
          <img src="../../../assets/forecast_wind.svg" />
        </div>
        <div>
          <div class="forecast_divider"></div>
          <p>18°C/<span>20°C</span></p>
          <p>15 August</p>
        </div>
      </div>
    </div>

    <div
      class="forecast_info box5"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="20px"
    >
      <p>WEDNESDAY</p>
      <div class="background_box">
        <div>
          <img src="../../../assets/forecast_sun.svg" />
        </div>
        <div>
          <div class="forecast_divider"></div>
          <p>21°C/<span>20°C</span></p>
          <p>16 August</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
