<div class="info_container">
  <div class="info_row upper" fxLayout="row" fxLayoutGap="10px">
    <div class="info box1" fxLayout="column">
      <div class="info_title">
        <img src="../../../assets/temperature.svg" />
        <p>Temperature</p>
      </div>
      <div class="temp_info">
        <p class="temp_number">{{weatherDetails.main.temp}} °C</p>
        <div class="info_details">
          <p>Temp. min.:</p>
          <p>{{weatherDetails.main.temp_min}} °C</p>
        </div>
        <div class="info_details">
          <p>Temp. max.:</p>
          <p>{{weatherDetails.main.temp_max}} °C</p>
        </div>
      </div>
    </div>
    <div class="info_small_container" fxLayout="column" fxLayoutGap="10px">
      <div class="info box2" fxLayout="column">
        <div class="info_title">
          <img src="../../../assets/humidity.svg" />
          <p>Humidity</p>
        </div>
        <div class="temp_info">
          <div class="info_details">
            <p>{{weatherDetails.main.humidity}}</p>
          </div>
        </div>
      </div>
      <div class="info box3" fxLayout="column">
        <div class="info_title">
          <img src="../../../assets/visibility.svg" />
          <p>Visibility</p>
        </div>
        <div class="temp_info">
          <div class="info_details">
            <p>{{weatherDetails.visibility}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="info_row lower" fxLayout="row" fxLayoutGap="10px">
    <div class="info box4" fxLayout="column">
      <div class="info_title">
        <img src="../../../assets/uv.svg" />
        <p>Feels like</p>
      </div>
      <div class="temp_info">
        <div class="info_details">
          <p>{{weatherDetails.main.feels_like}} °C</p>
        </div>
      </div>
    </div>
    <div class="info box5" fxLayout="column">
      <div class="info_title">
        <img src="../../../assets/pressure.svg" />
        <p>Pressure</p>
      </div>
      <div class="temp_info">
        <div class="info_details">
          <p>{{weatherDetails.main.pressure}}</p>
        </div>
      </div>
    </div>
    <div class="info box6" fxLayout="column">
      <div class="info_title">
        <img src="../../../assets/wind.svg" />
        <p>Wind</p>
      </div>
      <div class="temp_info">
        <div class="info_details">
          <p>Deg.:</p>
          <p>{{weatherDetails.wind.deg}}</p>
        </div>
        <div class="info_details">
          <p>Gust:</p>
          <p>{{weatherDetails.wind.gust}}</p>
        </div>
        <div class="info_details">
          <p>Spd.:</p>
          <p>{{weatherDetails.wind.speed}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
