<div class="container">
  <img class="background_image" src="../assets/hot.jpg" />
  <div class="weather-info">
    <div class="inner_container_left">
      <app-overview
        (cords)="setLocation($event)"
        [forecast]="weather"
      ></app-overview>
    </div>

    <div class="inner_container_right">
      <app-information [weatherDetails]="weather"></app-information>
    </div>
  </div>
</div>

<!-- <div>
  INFO: <br />
  Location: {{ city }}<br />
  description: {{ weatherDesc }}<br />
  Temp:<br />
  feels Like: {{ tempFeelsLike }}<br />
  temp: {{ currentTemp }}<br />
  temp min: {{ tempMin }}<br />
  temp max: {{ tempMax }}<br />
  Humidity: {{ humidity }}<br />
  Visibillity: {{ visibillity }}<br />
  pressure: {{ pressure }}<br />
  Wind:<br />
  deg: {{ windDeg }}<br />
  speed: {{ windSpeed }}<br />
</div> -->
