<div class="container">
  <img class="background_image" src="../assets/hot.jpg" />
  <div class="weather-info">
    <div class="inner_container_left">
      <app-overview></app-overview>
    </div>
    <div class="inner_container_right">
      <app-information></app-information>
      <app-forecast></app-forecast>
    </div>
  </div>
</div>

<input #box (keyup)="onKey(box.value)" type="text" placeholder="By navn" />
<p>WAOW MAGIC TEXT mucho nice: {{ city }}</p>
<button (click)="getLocation()">GET WEATHER</button>


<!-- <div>
  INFO: <br />
  Location: {{ city }}<br />
  description: {{ weatherDesc }}<br />
  Temp:<br />
  feels Like: {{ tempFeelsLike }}<br />
  temp: {{ currentTemp }}<br />
  temp min: {{ tempMin }}<br />
  temp max: {{ tempMax }}<br />
  Humidity: {{ humidity }}<br />
  Visibillity: {{ visibillity }}<br />
  pressure: {{ pressure }}<br />
  Wind:<br />
  deg: {{ windDeg }}<br />
  speed: {{ windSpeed }}<br />
</div> -->
