<div class="overview_container">

    <input
      #box
      (keyup)="onKey(box.value)"
      type="text"
      placeholder="Search city"
    />
    <button (click)="getLocation()">Search</button>

  <app-gauge [currentTemp]="forecast.main.temp"></app-gauge>
  <div class="overview_wrapper">
    <div class="overview_info">
      <img src="../../../assets/sunny.svg" />
      <p class="overview_number">{{ forecast.main.temp }} °C</p>
      <div class="overview_deets">
        <img src="../../../assets/small_sun_icon.svg" />
        <p>{{ forecast.weather[0].description }}</p>
      </div>
      <div class="overview_divider"></div>
      <div class="overview_deets">
        <img
          class="overview_point"
          src="../../../assets/small_point_icon.svg"
        />
        <p>{{ city }} {{ country }}</p>
      </div>
      <div class="overview_deets">
        <img
          class="overview_calendar"
          src="../../../assets/small_calendar_icon.svg"
        />
        <p>{{ date | date : "dd / MM / yyyy  HH:mm:ss" }}</p>
      </div>
    </div>
  </div>
</div>
