<div class="overview_container">
  <app-gauge></app-gauge>
  <div class="overview_wrapper">
    <div class="overview_info">
      <img src="../../../assets/sunny.svg" />
      <p class="overview_number">25°C</p>
      <div class="overview_deets">
        <img src="../../../assets/small_sun_icon.svg" />
        <p>Sunny and warm</p>
      </div>
      <div class="overview_divider"></div>
      <div class="overview_deets">
        <img
          class="overview_point"
          src="../../../assets/small_point_icon.svg"
        />
        <p>Elsinore, DK</p>
      </div>
      <div class="overview_deets">
        <img
          class="overview_calendar"
          src="../../../assets/small_calendar_icon.svg"
        />
        <p>11 August, 2023 &nbsp;&nbsp;13:48 PM</p>
      </div>
    </div>
  </div>
</div>
